<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>news</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springDispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:applicationContext-controller.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springDispatcherServlet</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncoding</display-name>
    <filter-name>CharacterEncoding</filter-name>
    <filter-class>cn.mycase.filter.CharacterEncoding</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>LonginCheck</display-name>
    <filter-name>LonginCheck</filter-name>
    <filter-class>cn.mycase.filter.LonginCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LonginCheck</filter-name>
    <url-pattern>/admin/home.jsp</url-pattern>
    <url-pattern>/admin/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>QuitLoginCheck</display-name>
    <filter-name>QuitLoginCheck</filter-name>
    <filter-class>cn.mycase.filter.QuitLoginCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>QuitLoginCheck</filter-name>
    <url-pattern>/admin/password.jsp</url-pattern>
    <url-pattern>/admin/category/*</url-pattern>
    <url-pattern>/admin/product/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>VisitIndex</display-name>
    <filter-name>VisitIndex</filter-name>
    <filter-class>cn.mycase.filter.VisitIndex</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>VisitIndex</filter-name>
    <url-pattern>/index.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>SearchFilter</display-name>
    <filter-name>SearchFilter</filter-name>
    <filter-class>cn.mycase.filter.SearchFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SearchFilter</filter-name>
    <url-pattern>/searchResult.action</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CommentFilter</display-name>
    <filter-name>CommentFilter</filter-name>
    <filter-class>cn.mycase.filter.CommentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CommentFilter</filter-name>
    <url-pattern>/updateComment.action</url-pattern>
  </filter-mapping>
</web-app>